@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #be123c;
  --color-primary-dark: #881337;
  --color-primary-light: #ffe4e6;
}

body {
  font-family: 'Inter', sans-serif;
}
